{% load static %}
{% load cookiebanner %}

<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>T.M.Épületgépészet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/img/favicon.png" rel="icon">
  <link href="../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


  <!-- Template Main CSS File -->
  <link href="../../static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">tmepuletgepeszet@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+(3630) 134-6668</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100065315237478" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">T.M.Épületgépészet</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="../../static/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Főoldal</a></li>
          <li><a class="nav-link scrollto" href="#about">Rólunk</a></li>
          <li class="dropdown"><a href="#"><span>Szolgáltatásaink</span> <i class="bi bi-chevron-down"></i></a>
            <ul>    
              <li><a href="#">Vízszerelés</a></li>
                  <li><a href="#">Gázszerelés</a></li>
                  <li><a href="#">Dugulás elhárítás</a></li>
                  <li><a href="#">Korszerűsítés</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#portfolio">Referenciáink</a></li>
          <li><a class="nav-link scrollto " href="/jobs">Álláslehetőségek</a></li>
          <li><a class="nav-link scrollto" href="#team">Csapatunk</a></li>
          
          <li><a class="nav-link scrollto" href="#contact">Árajánlat kérés</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3><span>Adatkezelési tájékoztató</span></h3>
          <p>A T.M.Épületgépészet Kft és az általa szerkesztett https://www.tmepuletgepeszet.hu weboldal működéséhez kapcsolódó adatkezelésről</p>
        </div>

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Bevezetés</h3>
            <p class="fst-italic">
              Ez a tájékoztató az EU 2016/679 általános adatvédelmi rendelete (angol rövidítéssel GDPR/General Data Protection Regulation) szabályainak megfelelően biztosítja annak megismerését, hogy a T.M.Épületgépészet kft, (a továbbiakban Adatkezelő) az alábbiakban részletezett feladatainak ellátása során a https://www.tmepuletgepeszet.hu weboldal szerkesztőjeként a természetes személyek adataival milyen tevékenységet végez. Arról, hogy e tevékenysége során milyen szabályok szerint jár el és betekintést ad az általa felhasznált adatok védelmére vonatkozó intézkedéseiről. Nem utolsó sorban információt nyújt mindazon jogokról, melyek érdekeik védelmében megilletik az érintetteket.
              <br></br>
              Jelen Tájékoztatóban részletezett szabályozás a Polgári Törvénykönyvről szóló 2013. évi V. törvény [Ptk.], az Európai Parlament és a Tanács (EU) 2016/679 rendelete a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet) [GDPR], a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól szóló 2008. évi XLVIII. törvény [Grt.], valamint 2011. évi CXII. törvény az információs önrendelkezési jogról és az információszabadságról [Info tv.] alapján került kialakításra.
            </p>
            <p>
                Cégünk elkötelezett abban, hogy kiváló minőségű szolgáltatásokat és megoldásokat nyújtson ügyfeleinknek az épületgépészeti projektek teljes spektrumában. 
            </p>
            <h3>1.Adatkezelő azonosító adatai: </h3>
            <p>Név: Tokai Márió<br>Adószám:xxxxxx-xxxx-xx <br> Székhely és postacím: 3578 Girincs , Damjanich u. 8. <br> Telefonszám: +(3630) 134-6668 <br>E-mail: tmepuletgepeszet@gmail.com</p>
            <h3>2.Az adatkezelés rendje: </h3>
            <p>Adatkezelő tevékenysége során az általa bármilyen módon és mértékben megismert, az üzleti partnerek, az érdeklődők és az ügyfelek adatait ezen Adatkezelési tájékoztatóban foglaltaknak megfelelően, titoktartási kötelezettséget vállalva, a vonatkozó magyar jogszabályok és a GDPR előírásai szerint kezeli.

             <br> <br> A tevékenységéhez és a kapcsolódó feladatok ellátása keretében kapott adatokat Adatkezelő jogszerűen tárolhatja, a jogszabályok keretein belül azokat rendszerezheti, a szükséges mértékig felhasználhatja.
              
              Adatkezelő az általa végzett adatkezelést azonnal megszünteti, amennyiben annak célja teljesült vagy megszűnt, ill. mérlegeli, ha azt az érintett kéri.
              
            <br> <br>  Adatkezelő nem végez profilozást, sem automata döntéshozatalt. Az Adatkezelő által fenntartott webhelyek látogatóinak azonosítása Adatkezelőnek nem célja.</p>
            <h3>3. A weboldalunk használatához kapcsolódó adatkezelés („cookie”)</h3>
            <p>Amikor a látogató e Tájékoztató hatálya alá tartozó https://www.tmepuletgepeszet.hu weboldalt meglátogatja, egy kisméretű adatfájlt, úgynevezett cookiet (továbbiakban: cookie vagy süti) helyezünk el a számítógépére, mely többféle célt szolgálhat. Mi adatkezelőként kizárólag az oldal működéséhez feltétlenül szükséges és munkamenet támogató, az egyes felhasználói munkamenetek azonosítására szolgáló, továbbá a weboldalunk kényelmesebb használatát elősegítő sütiket használunk.

              A „sütik” célja: egyesek elengedhetetlenek az oldal megfelelő működéséhez (session cookie – munkamenet süti), mások a weboldal kényelmesebb használatának elősegítésére szolgálnak.</p>
              <h3>Tájékoztatás</h3>
              <p>Az adatkezeléshez a hozzájárulást az érintett személy megtagadhatja vagy később (indoklás nélkül) visszavonhatja! Ilyen jellegű kérését küldje el írásban a fenti e-mail címre és a lehető legrövidebb idő alatt, de legfeljebb 5 munkanap alatt töröljük. A hozzájárulás visszavonása nem jár visszamenőleges hatállyal, így a korábbi, engedélyezett adatkezelés jogszerűségét nem érinti.</p>
              
          </div>
          
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Counts Section ======= -->
    


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Menüpontok</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Főoldal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">Rólunk</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#portfolio">Referenciáink</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/jobs">Karrier</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Adatkezelés</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Partnereink</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.bosch.hu/" target="_blank">Bosch</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ariston.com/hu-hu/" target="_blank">Ariston</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://hajdurt.hu/" target="_blank">Hajdút</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.baxi-kazan.hu/" target="_blank">Baxi</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>2024 • T.M.Épületgépészet</h4>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/profile.php?id=100065315237478" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">

          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="../../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../../static/vendor/aos/aos.js"></script>
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../../static/vendor/php-email-form/validate.js"></script>



  <!-- Template Main JS File -->
  <script src="../../static/js/main.js"></script>

</body>

</html>